<table class="table table-hover animated fadeIn">
  <thead>
    <tr>
      <th class="cursor-pointer select-no" (click)="sortEvent(column.code)" *ngFor="let column of columns">
        {{ column.title }} <fa-icon [icon]="faSort" [ngClass]="{'display-no': columnSorted != column.code}" *ngIf="faSort != undefined"></fa-icon>
      </th>
      <th class="select-no text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-light" *ngIf="data.length != 0">
      <td *ngFor="let item of columns"></td>
      <td class="py-sm-2 text-center">
        <fa-icon [icon]="faPlus" class="text-info cursor-pointer" (click)="add()"></fa-icon>
      </td>
    </tr>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">{{ item[column.code] }}</td>
      <td class="text-center">
        <fa-icon [icon]="faPen" class="text-success mr-3 cursor-pointer" (click)="edit(item.id)"></fa-icon>
        <fa-icon [icon]="faTrash" class="text-danger cursor-pointer" (click)="remove(item.id)"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center my-5 py-5" *ngIf="loading">
  <p>
    <fa-icon [icon]="faSpinner" [spin]="true" size="3x"></fa-icon>
  </p>
</div>

<div class="text-center my-5 py-5" *ngIf="!loading && data.length == 0">
  <p>
    No data to display
  </p>
</div>

<div class="row">
  <div class="col-12 text-center">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'active': pageNumber == page.pageNumber}" *ngFor="let page of pagination">
          <a class="page-link" (click)="changePage(page.pageNumber)">{{ page.pageNumber }}</a>
        </li>
      </ul>
  </div>
</div>