<!-- <div class="row ml-auto pull-right" style="position: fixed; top: 10px !important; right: 25px !important;">
  <div class="alert-group" style="width:100%">
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-info">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
  </div>
</div> -->

<div [class]="css">
  <div class="row">
    <div class="col-1">
      <fa-icon [icon]="faTimes" class="cursor-pointer" (click)="close()"></fa-icon>
    </div>
    <div class="col-10">
      {{ message }}
    </div>
  </div>
</div>