<div class="container">
  <form class="animated fadeIn">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-invalid" id="validationServer01">
        <div class="invalid-feedback">
          Please provide a first name
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control" id="validationServer02">
        <div class="invalid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer03">Email</label>
        <input type="email" class="form-control" id="validationServer03">
        <div class="invalid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer04">Phone</label>
        <input type="text" class="form-control" id="validationServer04">
        <div class="invalid-feedback">
          Looks good!
        </div>
      </div>
    </div>
  </form>
</div>