<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{'active': active}">
    <div class="sidebar-header">
      <h3>Dragoncore</h3>
    </div>
    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li *ngFor="let item of menu" routerLinkActive="active">
        <ng-container *ngIf="item.route; else elseSubmenu">
          <a [routerLink]="['/' + item.route]">{{ item.title }}</a>
        </ng-container>
        <ng-template #elseSubmenu>
          <a [href]="'#' + item.route + 'Submenu'" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            {{ item.title }}
          </a>
          <ul [id]="item.route + 'Submenu'" class="collapse list-unstyled">
            <li *ngFor="let subitem of item.submenu" routerLinkActive="active">
              <a [routerLink]="['/' + subitem.route]">{{ subitem.title }}</a>
            </li>
          </ul>
        </ng-template>
      </li>
    </ul>
  </nav>
</div>